*.sln
*.log
*.csproj
*.cache
DreamHack 2018 - UnityProject/.vs/
DreamHack 2018 - UnityProject/Library/
DreamHack 2018 - UnityProject/Temp/
DreamHack 2018 - UnityProject/Assets/AmplifyShaderEditor/
DreamHack 2018 - UnityProject/Assets/AmplifyShaderEditor.meta
